## .NET / VS / Rider
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
.idea/
*.csproj.user
*.swp

# Secrets/Configs locais
**/appsettings.Development.json
**/appsettings.Local.json

# Logs & Artifacts
logs/
*.log
artifacts/

# OS junk
.DS_Store
Thumbs.db
